{% extends 'base.html' %}

{% block title %} tsikov.com | {{ e.title }} {% endblock %}

{% block body %}

<h1>{{ e.title }}</h1>

<pre>
{{ e.content|safe }}
</pre>

<h3>add comment:</h3>

<form method = "POST" action = "/add-comment/{% if article %}article{% else %}page{% endif %}/{{ e.id }}/">
	{% csrf_token %}

    <div class="fieldWrapper">
        {{ cf.author.errors }}
        {{ cf.author }}
        <label for="id_author">Name</label>
    </div>

    <div class="fieldWrapper">
        {{ cf.content.errors }}
        {{ cf.content }}
    </div>


	<input type = "submit">

</form>

<h3>comments:</h3>


{% if comments %}
<ul>
    {% for c in comments %}
	<li>
		<u>{{ c.author }}</u><br />
		{{ c.content }}
	</li>
    {% endfor %}
</ul>
{% else %}

there are no comments

{% endif %}

{% endblock %}
